body{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    margin: 0;
    padding: 10px;
}

#input-field{
    min-width: 100%;
    border: 2px solid darkseagreen;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button{
    background: darkseagreen;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid darkseagreen;
}

#delete-btn{
    background: none;
    border: 2px solid darkseagreen;
}

ul{

}

li{
    list-style: none;
    color: rgb(89, 136, 89);
}

a{
    color: rgb(89, 136, 89);
}
